<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12">-->
<!--      <h3>Warning you have an error</h3>-->
<!--      <hr>-->
<!--    <app-servers></app-servers>-->
<!--&lt;!&ndash;      <div app-servers></div> this is as attribute servers.components.ts&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="app-servers"></div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <div class="row">
    <div class="col-xs-11">
      <ol>
        <li>Create two new Components (Manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the components</li>
        <li>Style the components appropriately (maybe some red/green text?)</li>
      </ol>
      <p> Use external or internal templaes and styles!</p>
      <p>Feel free to creaate more components, nest them into each other or play
        around with different types of selectors!</p>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
      <app-servers></app-servers>
      <app-server></app-server>
    </div>
  </div>
</div>
